**/.git
**/.svn
**/.hg
**/node_modules
**/.next
**/tailwind.config.js
**/.github/ 
**/.prettierrc.js
**/next.config.js
**/jest.config.js
**/babel.config.js
**/webpack.config.js
**/webpack.config.prod.js   
**/webpack.config.dev.js
**/webpack.config.base.js
**/webpack.config.common.js
**/webpack.config.client.js
**/webpack.config.server.js
**/webpack.config.client.prod.js
**/commitlint.config.js
**/postcss.config.js
**/tsconfig.json
**/.prettierrc
**/README.md
**/commitlintrc.json
**/.eslintrc.json
**/next-env.d.ts
**/package.json
**/package-lock.json